<h1>LIST OF USERS </h1>

<table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Mobile_number</th>
    </tr>
<% User.all.each do |user| %>
    <tr>
     <td>
     <%= link_to user.username,user%>
     </td>
     <td>
     <%= user.email%>
     </td>
     <td>
     <%= user.mobile_number%>
     </td>
    </tr>
    <% end %>
</table>

<%= link_to "ADD NEW USER", new_user_path %>